{{!-- Setup the index.handlebars to have the template that Handlebars can render onto. --}}
{{!-- Create a button in index.handlebars that will submit the user input into the database. --}}
<h1>EAT-A-BURGER!</h1>


<div id="displayBurger">
    {{#each burgers}}
    {{burger_name}}
    {{/each}}
</div>


{{!-- div for devoured --}}
<div>
    {{#each burgers}}
    {{/each}}
</div>

<h2>Enter a burger</h2>
<form id="create-form">

    <div class="form-group">
        <label for="ca">Which burger would you like to order?:</label>
        <input type="text" id="burger_Input" name="name">
    </div>

    <button id="submitButton" type="submit">SUBMIT</button>
</form>